        *{
            margin:0rem;
            padding:0rem;
        }
        body{
            display: flex;
            flex-direction: column;
            width: 100%;
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";  
        }
        .nav{
            display: flex;
            height: 10vh;
        }
        .left{
            display: flex;
            width:20%;
        }
        .logo{
            height: 110%;
            width:45%;
            margin-left: 3rem;
        }
        .mid{
            display: flex;
            width:80%;
            align-items: center;
            justify-content: flex-end;
            margin-right: 3rem;
        }
        .mid li{
            display:inline-block;
            font-size: 23px;
            justify-content: flex-end;
            margin-right: 2rem;
        }
        .mid li a{
            text-decoration: none;
            padding: 34px 23px;
            font-weight: 550;
            font-size: 20px;
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji"; 
            color: black;
        }
        .mid li a:hover{
            text-decoration: underline;
        }
        .main-content{
            display: flex;
        }
        .text{
            width: 45%;
        }
        .up{
            text-align: center;
            display: flex;
            align-items: end;
            font-size: 37px !important;
            line-height: 67px !important;
            letter-spacing: -0.03em !important;
            height: 50%;
            margin-bottom: 14px !important;
            margin-left: 5rem;
        }
        .down{
            text-align: center;
            display: flex;
            top:15px;
            font-size: 35px !important;
            line-height: 40px !important;
            letter-spacing: -0.03em !important;
            height: 50%;
            margin-left: 5rem;

        }
        .pic{
            display: flex;
            align-items: center;
            width: 55%;
            justify-content: flex-start;
            
        }
        .pic img{
            width:785px;
            height:650px;
        }
        .proj,.inter{
            display: flex;
            padding: 10px;
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
            font-size: 30px !important;
            line-height: 35px !important;
            letter-spacing: -0.03em !important;
            height: 425px;
            overflow: hidden;
            align-items: center;
            justify-content: center;
        }
        .proj{
            background-color: #e7f3ff;
        }
        .inter{
            background-color: #cee3ff;
        }
        .projpic,.interpic{
            display: flex;
            align-items: center;
            width: 45%;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            margin-right: 2rem;
        }
        .projtxt,.intertxt{
            display: flex;
            width: 55%;
            height: 100%;
            align-items: center;
            justify-content: center;
            text-align: left;
        }
        .projtxt{
            margin-right: 7rem;
            margin-bottom: 2rem;
        }
        .intertxt{
            margin-left: 7rem;
        }
        .stu,.in{
            width: 75%;
            height: 70%;
        }
        .btn1,.btn2{
            color:white;
            font-size: 20px;
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
            margin: 25px 9px;
            border-radius: 7px;
            background-color: #001539;
            cursor: pointer;
            height: 50px;
            justify-content: center;
            align-items: center;
            width: 17rem;
            outline: none;
            box-shadow: none;
        }
        .btn1:hover,.btn2:hover{
            transform: scale(1.05);
            background-color: #0e2f6a;
        }
        .footer{
            display: flex;
            width:100%;
            height: 10vh;
            background-color: black;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .tags{
            display: flex;
            width: 50%;
            align-items: center;
            justify-content: center;
        }
        .a,.b,.c,.d,.e{
            color:grey;
            margin: auto;
            padding: 0.5rem;
            font-size: 20px;
            cursor: pointer;
        }
        .a:hover,.b:hover,.c:hover,.d:hover{
            color: white;
            text-decoration:underline;
        }
        .logos{
            display: flex;
            width: 100%;
            align-items: flex-start;
            justify-content: center;
        }
        .fa-twitter,.fa-facebook-square,.fa-linkedin-in{
            color:grey;
            margin: auto;
            padding: 0.5rem;
            font-size: 20px;
            cursor: pointer;
        }
        .fa-twitter:hover,.fa-facebook-square:hover,.fa-linkedin-in:hover{
            font-size:22px;
            color: white;
        }
        .contact{
            display: flex;
            color: white;
            width: 13.7%;
            justify-content: flex-end;
            margin: 0.25rem 1.5rem 0rem 0rem;
            cursor: pointer;
            height: 1.35rem;
            justify-self: flex-end;
        }
        .contact:hover{
            border-bottom: 1px solid white;
        }
    