<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="navfoot.css">
</head>
<body>
    <script src="https://kit.fontawesome.com/ba360a643b.js" crossorigin="anonymous"></script>
    <div class="nav">
        <div class="left">
            <img src="Astra_2.png" alt="" class="logo">
        </div>
        <div class="mid">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Sign Up</a></li>
                <li><a href="#">Sign In</a></li>
            </ul>
        </div>
    </div>
    <div class="main">
    </div>
    <div class="footer">
        <div class="tags">
            <div class="a">About Us</div>
            <div class="e">|</div>
            <div class="b">FAQ</div>
            <div class="e">|</div>
            <div class="c">Contact Us</div>
            <div class="e">|</div>
            <div class="d">Privacy Policy</div>
        </div>
        <div class="logos">
        <div class="twi">
            <i class="fab fa-twitter"></i>
        </div>
        <div class="fab">
            <i class="fab fa-facebook-square"></i>
            </div>
        <div class="link">
            <i class="fab fa-linkedin-in"></i>
        </div>
        </div>
    </div>    
</body>
</html>